.hero-unit {
    background-image:url('http://blogs-images.forbes.com/barrysamaha/files/2015/10/dressbar_dressbarn_fall_dresses_2015_2-1940x1091.jpg');
    background-size:cover;
    background-color: #EEEEEE;
    height: 0px;
    position:relative;
  
  }
.hero-unit h1 {
    color: #FFFFFF;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
    position:absolute;
    left:50%;
    top:10%;
}

.img-responsive {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
/*.fit1 {
    height:371px;
    overflow-y: hidden;
}

.fit1 img {
    width:100%;
    height: 100%;
    
}*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 720px) { 
    .hero-unit {
        height:300px;
    }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }